/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    box-sizing: border-box;

    color: white;
  }

body{
  background-color: #121212;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}


@import 'https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap';

.space-grotesk-regular {
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.space-grotesk-light {
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.space-grotesk-bold {
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}